*{
    padding: 0;
    margin: 0;
}
body{
    background: #042f36;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.title{
    width: 21ch;
    color: white;
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: flashing-border .75s step-end infinite, printed-text 3s steps(21) infinite;
}

@keyframes flashing-border {
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-text {
    from{
        width: 0;
    }
}